body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: rgb(229, 189, 189);
}

section{
    height: 20rem;
    width: 25rem;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    background-color: rgb(16, 9, 116);
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#resetbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-left: -15rem;

}

.btn{
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
    border: 3px solid rgb(16, 9, 116);
    color: rgb(6, 16, 2);
}
#num{
    border: 2px solid rgb(16, 9, 116);
    padding: 7px;
    margin:3px;
    font-size: 20px;
    color: black;
    background-color: aliceblue;
    border-radius: 10px;
}
.btn:hover{
    font-size: 21px;
    font-weight: 400;
    background-color: red;
    transition: 0.5s;
}
.btn::selection{
    
}